.filter-div{
    display: flex;
    padding: 1rem 3rem;
    border-top: 1px solid var(--grey);
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    
}
.links-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    opacity: 0.5;
    min-width: 85px;
    border-bottom: 1px solid var(--white);

}

.links-box:hover,
.selected-box {
    opacity: 1;
    border-bottom: 1px solid var(--black);
    transition: all 0.3s;
    cursor: pointer;
}

.links-img{
    width: 1.5rem;
    height: 1.5rem;
    object-fit: contain;
}

.selected-label {
    color: var(--black  );
}